@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Montserrat', sans-serif;
}

body{
    height: 100%;
}

a{
    text-decoration: none;
}

/* Header e Nav Bar */

#header{
    width: 100%;
    background-color: crimson;
    height: 80px;
}

#header h1{
    text-align: center;
    padding-top: 20px;
    color: white;
    font-size: 40px;
}

#nav-bar{
    background-color: rgba(28, 31, 29, .8);
    height: 70px;
    width: 100%;
}

#nav-bar ul{
    text-align: center;
    padding-top: 20px;
}

#nav-bar ul li{
    display: inline-block;
}

#nav-bar ul li a{
    color: crimson;
    padding: 10px 20px;
    background-color: white;
    border-radius: 20px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 8px;
    transition: .3s ease;
}

#nav-bar ul li a:hover{
    color: white;
    background-color: crimson;
    border: 1px solid white;
}


/* End Header e Nav Bar */

/* Article */

article{
    width: 80%;
    margin: 0 auto;
    background-color: rgb(191, 176, 176);
}

article #h2_1{
    font-size: 30px;
    text-align: center;
    transition: .3s ease;
}

article:hover #h2_1{
    color: white;
    background-color: crimson;
    border: 1px solid white;
}

img[src="img/stomatopoda.jpg"]{
    height: 300px;
    border-radius: 20%;
    display: block;
    margin: 10px auto;
}

/* Section1 */

#section1{
    text-align: center;
    padding: 40px;
    background-color: rgb(140, 140, 140);
}

#section1 h3{
    font-size: 25px;
    margin-bottom: 10px;
    transition: .3s ease;
}

#section1:hover h3{
    color: white;
    background-color: crimson;
    border: 1px solid white;
}

#section1 table{
    margin: 0 auto;
}

table tbody td{
    border: 1px solid black;
}

/* End Section1 */

/* Section2 */

#section2{
    text-align: center;
    padding: 40px;
}

#section2 h2{
    font-size: 25px;
    margin-bottom: 10px;
    transition: .3s ease;
}

#section2:hover h2{
    color: white;
    background-color: crimson;
    border: 1px solid white;
}

#section2 p{
    padding: 20px;
}

#section2 .aquaa3{
    height: 300px;
    border-radius: 20%;
}

/* End Section2 */

/* Section3 */

#section3{
    text-align: center;
    padding: 40px;
    background-color: rgb(140, 140, 140);
}

#section3 h2{
    font-size: 25px;
    margin-bottom: 10px;
    transition: .3s ease;
}

#section3:hover h2{
    color: white;
    background-color: crimson;
    border: 1px solid white;
}

#section3 p{
    padding: 20px;
}

#section3 .img3{
    height: 300px;
    border-radius: 20%;
}

/* End Section3 */

/* Section4 */

#section4{
    text-align: center;
    padding: 40px;
}

#section4 h2{
    font-size: 25px;
    margin-bottom: 10px;
    transition: .3s ease;
}

#section4:hover h2{
    color: white;
    background-color: crimson;
    border: 1px solid white;
}

#section4 p{
    padding: 20px;
}

#section4 .img4{
    height: 300px;
    border-radius: 20%;
}

/* End Section4 */

/* Section5 */

#section5{
    text-align: center;
    padding: 40px;
    background-color: rgb(140, 140, 140);
}

#section5 h2{
    font-size: 25px;
    margin-bottom: 10px;
    transition: .3s ease;
}

#section5:hover h2{
    color: white;
    background-color: crimson;
    border: 1px solid white;
}

/* End Section5 */

/* End Article */

/* Fonts */

#fonts{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(99, 99, 99);
    padding: 30px;
}

#fonts h2{
    font-size: 25px;
    margin-bottom: 10px;
    transition: .3s ease;
}

#fonts:hover h2{
    color: white;
    background-color: crimson;
    border: 1px solid white;
}

#fonts h3{
    border-radius: 20px;
    display: inline-block;
    margin: 0 10px;
    transition: .3s ease;
}

#fonts h3 a{
    padding: 20px;
    color: black;
    transition: .3s ease;
}

#fonts h3:hover{
    color: white;
    background-color: rgb(255, 105, 105);
    border: 1px solid white;
}

#fonts h3:hover a{
    color: white;
}

/* End Fonts */

footer{
    height: 100px;
    width: 100%;
    background-color: rgb(48, 48, 48);
}

footer p{
    text-align: center;
    padding-top: 20px;
    color: white;
}