body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

fieldset {
  background-color: #FFDEE9;
  background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
}

legend {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1.5rem;
}

input {
  display: block;
  padding: 5px;
  margin: 5px auto;
}

#casa, #apartamento {
  display: inline-block;
}

legend, p {
  text-align: center;
}

#estados, textarea {
  display: block;
  margin: 0 auto;
  resize: none;
}

label {
  display: block;
  margin: 0 45%;
}